*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
 }
 
 #navbar{
    height: 100px;
    width: 100%;
   background-color: black;
   display: flex;
   justify-content: center;
    align-items: center; 
} 
#navbar>article{
   height: 65px;
   width: 85%;
   /* border: 2px solid red; */
   display: flex;

}
#navbar>article>.logo{
   height: 100%;
   width: 70%;
  /* background-color: blue; */
  margin-left: -70px;
   display: flex;
   align-items: center;   
}
#navbar>article>.logo>svg{
   height: 55%;
   fill: white;
   width: 135px;
   margin-top: -5px;
   margin-left: 10px; 
}
/* ------------------------------------------navbar over---------------------------------------- */
#home{
    height: 182vh;
    width: 100%;
    background-color: rgb(26, 25, 25);
    display: flex;
    justify-content: center;
    align-items: end;
}
#home>.m1{
    height:177vh;
    width: 55%;
    /* border: 1px solid black; */
    background-color: black;
    display: flex;
    justify-content: center;
}
#home>.m1>.m2{
    height: 177vh;
    width: 73%;
    /* border: 1px solid yellow; */
}
#home>.m1>.m2>.n1{
    height: 60vh;
    width: 100%;
    /* border: 1px solid red;   */
    border-bottom:  1px solid #6a6a6a;
    
}
#home>.m1>.m2>.n1>h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 100px;
    letter-spacing: -4px;
    color: white;
}
#home>.m1>.m2>.n1>.n2{
    height: 35vh;
    width: 60%;
    /* border: 1px solid aqua; */
    margin-top: 47px;
    margin-left: 110px;
   
}
#home>.m1>.m2>.n1>.n2>.b1{
    height: 46px;
    width: 100%;
    border-radius: 25px;
    border: 1px solid white; 
    background-color: black; 
}
#home>.m1>.m2>.n1>.n2>.b1>img{
    margin-left: -240px;
    margin-top: -9px;
}
#home>.m1>.m2>.n1>.n2>.b1>h2{
    font-size: 15px;
    margin-top: -22px;
    color: white;
}
#home>.m1>.m2>.n1>.n2>.b2{
    height: 46px;
    width: 100%;
    border-radius: 25px;
    border: 1px solid white;
    margin-top: 10px;
    background-color: black;
}
#home>.m1>.m2>.n1>.n2>.b2>img{
    margin-left: -240px;
    margin-top: -9px;
}
#home>.m1>.m2>.n1>.n2>.b2>h2{
    font-size: 15px;
    margin-top: -22px;
    color: white;
}
#home>.m1>.m2>.n1>.n2>.b3{
    height: 46px;
    width: 100%;
    border-radius: 25px;
    border: 1px solid white;
     margin-top: 10px;
     background-color: black;
}
#home>.m1>.m2>.n1>.n2>.b3>img{
    margin-left: -240px;
    margin-top: -9px;
}
#home>.m1>.m2>.n1>.n2>.b3>h2{
    font-size: 15px;
    margin-top: -22px;
    color: white;
}
#home>.m1>.m2>.n1>.n2>.b4{
    height: 46px;
    width: 100%;
    border-radius: 25px;
    border: 1px solid white;
    margin-top: 10px;
    background-color: black;
}
#home>.m1>.m2>.n1>.n2>.b4>h2{
    font-size: 15px;
    margin-top: -5px;
    color: white;
}
#home>.m1>.m2>.q1{
    height: 68.5vh;
    width: 100%;
    /* border: 1px solid purple; */
    border-bottom:  1px solid #6a6a6a;
    display: flex;
    justify-content: center;
}
#home>.m1>.m2>.q1>.r1{
    height: 68.5vh;
    width: 60%;
    /* border:1px solid yellow; */
}
#home>.m1>.m2>.q1>.r1>.l1{
    height: 12vh;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 40px;
}
#home>.m1>.m2>.q1>.r1>.l1>label{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
#home>.m1>.m2>.q1>.r1>.l1>input{
    padding: 10px;
    height: 50px;
    width: 100%;
    background-color: rgb(29, 28, 28);
    border:1px solid white;
}
#home>.m1>.m2>.q1>.r1>.l2{
    height: 12vh;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 10px;
}
#home>.m1>.m2>.q1>.r1>.l2>label{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
#home>.m1>.m2>.q1>.r1>.l2>input{
    padding: 10px;
    height: 50px;
    width: 100%;
    background-color: rgb(29, 28, 28);
    border:1px solid white;
}
#home>.m1>.m2>.q1>.r1>.l3{
    height: 12vh;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 10px;
}
#home>.m1>.m2>.q1>.r1>.l3>.a1{
    height: 3vh;
    width: 100%;
    /* border: 1px solid white; */
    margin-top: 15px;
}
#home>.m1>.m2>.q1>.r1>.l3>.a1>p{
    margin-left: 50px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
#home>.m1>.m2>.q1>.r1>.l3>.a1>.b1{
    height: 3vh;
    width: 12%;
    background-color: rgb(74, 243, 74);
    border-radius: 25px;
    margin-top: -17px;
    display: flex;
    justify-content: end;
}
#home>.m1>.m2>.q1>.r1>.l3>.a1>.b1>.bb1{
    height: 2vh;
    width: 30%;
    margin-top: 3px;
    margin-right: 3px;
    background-color: black;
    border-radius: 30px;
}
#home>.m1>.m2>.q1>.r1>.l4{
    height: 12vh;
    width: 100%;
    /* border: 1px solid red; */
}
#home>.m1>.m2>.q1>.r1>.l4>button{
    height: 50px;
    width: 100%;
    border-radius: 25px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(74, 243, 74);
}
#home>.m1>.m2>.q1>.r1>.l5{
    height: 10vh;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#home>.m1>.m2>.q1>.r1>.l5>a{
  color: white;
  margin-bottom: 30px;
}
#home>.m1>.m2>.r2>h2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 45px;
    margin-left: 112px;
    color: var(--text-subdued,#6a6a6a);
   
}
#home>.m1>.m2>.r2>h2>a{
    color: white;
}
#home>.m1>.m2>.r2>p{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 115px;
    margin-left: 35px;
    color: var(--text-subdued,#6a6a6a);
}
#home>.m1>.m2>.r2>p>a{
     color: var(--text-subdued,#6a6a6a);
}







